@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Fredericka+the+Great|Slabo+27px');

* {
    box-sizing: border-box;
}

body{
    font-family: 'Slabo 27px';
    font-size: 18px;
}

img {
	width: 100%;
}

h1
{
    font-family: 'Fredericka the Great', serif;
    font-weight: normal;
}

a {
    color: #333;
    text-decoration: none;
    padding-left: 0;
    transition: padding-left .2s ease;

}

a:hover {
    color: #669;
    padding-left: 5px;
    transition: padding-left .2s ease;
}

#page-container {
    width: 90%;
    margin: 0 auto;
}

.tune-container {
	margin: 10px;
	padding: 10px;
}

#files {
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 3px;
}

#files-title {
    padding: 4px 7px;
    background-color: #669;
    color: #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-align: center;
    text-shadow: 1px 1px #333;

}

#files > a:nth-child(4n) {
    background-color: #eee;
}

#files > a:before {
    content: '\2192    ';
}

#files > a {
    padding: 4px 5px;
    display: inline-block;
    width: 100%
}

#files > a:hover {
    color: #669;
    padding-left: 10px;
    transition: padding-left .2s ease;
}

.featherlight-content {
    width: 90%;
    height: 80%;
}

iframe.featherlight-inner {
    width: 100%;
    height: 100%;
}
