@import url('https://fonts.googleapis.com/css?family=Oswald|Fredericka+the+Great|Slabo+27px');

* {
    box-sizing: border-box;
}
html, body {
    margin: 0px;
}

body{
    font-family: 'Slabo 27px';
    font-size: 18px;
}

img {
	width: 100%;
}

h1
{
    text-align: center;
    font-family: 'Oswald', serif;
    font-size: 26px;
}

a {
    color: #669;
    text-decoration: none;
    padding-left: 0;
}

a:hover {
    color: #99c;
}

svg {
    margin: 0 auto;
}

svg * {
    font-family: 'Slabo 27px';
}

#github-fork {
    width: 90px;
    position: absolute;
    top: 0;
    right: 0;
}

#page-container {
    width: 1000px;
    margin: 0 auto;
}

#presentation {
    text-align: center;
}

.tune-container {
    //#margin: 10px;
    //#padding: 10px;
    //margin-bottom: 20px;

    margin: 0 auto;
}

.abctune-rendered {
    margin: 0 auto;
}

.tunedata {
	width: 100%;
	text-align: right;
}

.data-item {
	display: inline-block;
}

.data-item-abc:after, .data-item-mid:after
{
    content: '|';
    color: #999;
    padding: 0 1px 0 1px;
}
